@font-face {
  font-family: 'sk'; 
  src: url('../font/Sk-Modernist-Regular.woff2') format('woff2'); 
  font-weight: 400;
  font-style: normal; 
  font-display: swap; 
}

@font-face {
  font-family: 'sk';
  src: url('../font/sk-modernist-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.button,.button--tr{
    display: inline-block;
    background: #FF541F;
    padding: 15px 35px;
    border-radius: 5px;
    font-weight: 700;
    transform: .4s ease-in-out;
}
.button--tr{
    background: #00000000;
}
.button:hover{
    background: #301701;
    color: #FF541F;
}
.text-container{
    margin-inline: auto;
}
.title {
    font-size: clamp(34px,3.2vw,64px);
    font-weight: 700;
    line-height: 1.2;
}
.content-text{
 margin: 0 auto;
    max-width: 830px;
    text-align: center;
}